name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: g++ main.cpp changecase.cpp -o changecase
    - name: Test
      run: |
           chmod u+x test.sh 
           ./test.sh
      
